<div class="page-footer">
  Copyright &copy; Juris Galang 2009
  <%= separator_tag %>
  <%= link_to 'Community Guidelines', documents_path('guidelines') %>
  <%= separator_tag %>
  <%= link_to 'Privacy Policy', documents_path('privacypolicy') %>
  <%= separator_tag %>
  <%= link_to 'Terms of Service', documents_path('termsofservice') %>
  <%= separator_tag %>
  <%= link_to 'Source Code', 'http://github.com/jurisgalang/breve' %>
</div>
