<%= flash_tag %>
<h2>Edit Comment</h2>

<div class="line-item-row">
  <% context = @comment.parent || @comment.topic %>

  <!-- upvote widget -->
  <%= render_cell :post, :vote, :post => context %>

  <div style="margin-left: 25px; color: #777777">
    <b>On:</b>
    <%=truncate_words(textualize context.headline, :notags) %>
    <br/>
    <!-- post item's info widget -->
    <%= render_cell :post, :info, :post => context %>
  </div>

  <div style="margin-left: 2em">
    <% form_for @comment do |f| %>
      <fieldset>
        <%= f.text_area :text %><br/>
        <%= render_cell :widget, :textformat_help %>
        <p/>
        <%= f.submit 'Save changes' %>
      </fieldset>
    <% end %>    
  </div>
</div>
