<div class="ui-corner-all" style="border: 1px solid orange">
  <div align="center" class="ui-corner-tl ui-corner-tr" style="background: orange; color: white; padding: 0.25em">
    Stats
  </div>
  <div style="padding: 0.5em">
    <table>
      <tr>
        <td align="right"><%= user.post_points %></td>
        <td>submission points</td>
      </tr>
      <tr>
        <td align="right"><%= user.comment_points %></td>
        <td>comment points</td>
      </tr>
      <tr>
        <td align="right"><%= user.posts.count %></td>
        <td><%= link_to_unless user.posts.empty?, "articles submitted", submitted_user_posts_path(user), :class => 'link-button' %></td>
      </tr>
      <tr>
        <td align="right"><%= user.comments.count %></td>
        <td><%= link_to_unless user.comments.empty?, "comments or replies", submitted_user_comments_path(user), :class => 'link-button' %></td>
      </tr>
      <tr>
        <td align="right"><%= user.voted_posts.count %></td>
        <td><%= link_to_unless user.voted_posts.empty?, "articles voted", voted_user_posts_path(user), :class => 'link-button' %></td>
      </tr>
      <tr>
        <td align="right"><%= user.voted_comments.count %></td>
        <td><%= link_to_unless user.voted_comments.empty?, "comments voted", voted_user_comments_path(user), :class => 'link-button' %></td>
      </tr>
    </table>
  </div>
</div>
