<%= flash_tag %>

<div style="margin-bottom: 30px; width: 5in">
  <h2>Login via Twitter, Facebook, Etc.</h2>
  We recommend signing-in using your account from one of the following services.
  It's easier and it automatically registers you with us.
  <p/>
  <div align="center" class="ui-widget ui-corner-all">
    <%= link_to image_tag('twitter-login-button.png',  :width => 80, :style => 'margin: 5px'), identity_login_url(:provider => 'twitter') %>
    <%= link_to image_tag('facebook-login-button.png', :width => 80, :style => 'margin: 5px'), '', :id => 'facebook-login' %>
    <!-- %= link_to image_tag('google-login-button.png',   :width => 85, :style => 'margin: 5px'), '' % -->
    <!-- %= link_to image_tag('yahoo-login-button.png',    :width => 85, :style => 'margin: 5px'), '' % -->
  </div>
</div>
<p/>

<div style="margin-bottom: 30px">
  <h2>Login</h2>
  <% form_for @user, :url => login_url do |f| %>
    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email %><br/>
      <%= f.label :password %>
      <%= f.password_field :password %><br/>
      <p/>
      <%= f.submit 'Sign-In' %>
    </fieldset>
  <% end %>
</div>  
<p/>

<div>
  <h3>Password Reset</h3>
  <% form_for @user, :url => reset_url do |f| %>
    <fieldset>
      <%= f.label :email %>
      <%= f.text_field :email %><br/>
      <p/>
      <%= f.submit 'Reset Password' %>
    </fieldset>
  <% end %>
</div>

<script type="text/javascript" src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php">
</script>  

<script type="text/javascript">
  $j(function(){
    FB.init("<%= FACEBOOK_CONSUMER_KEY %>", "<%= FACEBOOK_XD_CHANNEL_URL %>", {});
    FB.ensureInit(function(){
      $j(document).ready(function(){
        var callback = function() {
          var session_key = FB.Facebook.apiClient.get_session().session_key;
          var uid         = FB.Connect.get_loggedInUser();
          var login_url   = "<%= identity_callback_url(:provider => 'facebook') %>?session_key=" + session_key + "&uid=" + uid;
          window.location.replace(login_url);
        };
        $j('#facebook-login').click(function(){
          FB.Connect.requireSession(callback); 
          return false
        })
      })
    })
  })
</script>  
