<div style="margin-bottom: 0.3em; font-size: 0.8em">
  <span id="vote-<%= @post.class.name.downcase %>-<%= @post.id %>" style="font-size: 1.1em">
    <%= @post.points %>
  </span> 
  points from <%= link_to h(@post.author.displayname), 
    user_path(@post.author), 
    :class => 'link-button' %>
  <%= time_ago_in_words @post.created_at %> ago
</div>
