<% form_for @post do |f| %>
  If you haven't read it yet, please take the time to read our community's 
  <%= link_to 'guidelines', documents_path('guidelines') %>
  <p/>
  
  Omit the <%= f.label :url %> if you only wish to pose a question or topic for discussion.
  Use the <%= f.label :text %> field to expand on your topic.
  If ommited, the <%= f.label :text %> field's value is used in lieu 
  of the <%= f.label :title %>.
  <p/>
  
  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %><br/>
    <%= f.label :url %>
    <%= f.text_field :url %><br/>
    <%= f.label :text %>
    <%= f.text_area :text %><br/>
    <div style="margin-left: 75px">
      <%= render :partial => 'comments/textformat_help_widget' %>
    </div>
    <p/>
    <%= f.submit 'Submit' %>
  </fieldset>
<% end %>
